name: CI

on:
  pull_request:
    branches: [main] 
env:
  ZIG_VERSION: 0.15.2
  NODE_VERSION: 18

jobs:
  testing:
    name: testing 
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: zig test
      run: zig build test

